/* sidebar */

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption .material-icons {
  padding: 20px;
}
.fa-twitter {
  padding: 20px;
}
.sidebarOption h2 {
  font-weight: 700;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--color-text);
  height: 40px;
  border-radius: 30px;
  color: var(--color-brand);
}
.sidebarOption :active {
  color: var(--color-brand);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--color-brand);
  border: none;
  color: var(--color-text);
  font-weight: 900;
  border-radius: 30px;
  height: 40px;
  margin-top: 20px;
}

.sidebar {
  border-right: 1px solid var(--color-brand);
  flex: 0.2;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

/* media query mobile and tablet */
@media screen and (max-width: 768px) {
  .sidebar {
    min-width: 60px;
    margin-left: -30px;
  }
  .sidebarOption h2 {
    display: none;
  }
  .sidebar__tweet {
    margin-left: 10px;
  }
 
}
/* end siderbar */

/* home tweet */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--color-brand);
  min-width: fit-content;
  overflow-y: scroll;
}
.feed__header {
  position: sticky;
  top: 0;
  border-top: 1px solid var(--color-brand);
  border-bottom: 1px solid var(--color-brand);
  padding: 40px 10px;
  backdrop-filter: blur(10px);
}

.feed__header h2 {
  margin-top: -15px;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
}

.feed ::-webkit-scrollbar {
  display: none;
}
.feed {
  scrollbar-width: none;
}
/* tweet box user profile */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetbox {
  padding-bottom: 10px;
  padding-right: 10px;
}
.tweetBox__form {
  display: flex;
  flex-direction: column;
}
.tweetbox__input {
  display: flex;
  padding: 20px;
}
.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.tweetBox__tweetButton {
  background-color: var(--color-brand);
  border: none;
  color: var(--color-text);
  font-weight: 900;
  border-radius: 30px;
  width: 70px;
  height: 30px;
  margin-top: 20px;
  margin-left: 75%;
}


/* tweet components */

.tweet {
  display: flex;
  border-bottom: 1px solid var(--color-brand);
  background-color: #F7F7F7;
  gap : 30px;
  padding-top: 5%;
  padding-left: 3%;
}
.tweet img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  background-color: bisque;
  border-radius: 100%;
}

.tweet__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom:30px; 

}

.name {
  font-size: 20px;
  font-weight: 800;
}
